.error-page {
  span {
    font-size: 3em;
    color: transparent;
    -webkit-text-stroke: 2px #545454;
    letter-spacing: 3px;
    font-style: italic;
  }
  .page-title {
    font-size: 170px;
    position: relative;
    line-height: 1;
    //letter-spacing: -25px;
    font-style: italic;
    font-weight: 600;
    text-shadow: -4px -4px 1px $theme-hover-color,
      4px 4px 1px $theme-hover-color;
    color: #f7f7f7;
  }
  .sub-title {
    font-size: 2.5em;
    line-height: 1;
  }
  .supporttext {
    font-size: 15px;
    font-weight: 500;
    color: #4e4e4e;
    max-width: 500px;
    margin: 0 auto;
  }
}
