.pymnt-fail-area {
  text-align: center;
  position: relative;

  .failed-img {
    margin-bottom: 1em;

    img {
      height: 400px;
    }
  }

  .title {
    font-size: 2em;
    color: $red;
    font-weight: 600;
  }

  .shrt-desc {
    font-weight: 400;
    max-width: 650px;
    margin: 0 auto;
  }
}
